---
import AuthForm from "../components/AuthForm";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1 class="text-4xl mx-auto py-4 font-semibold text-center my-6">
    Sistema de Agua
  </h1>
  <AuthForm client:only="react" />
</Layout>
